<title>Search Husky Breeders | Find a Husky Puppy Breeder</title>
      <p class="pull-right"><a href="http://www.thepomeranianhusky.com/breeder_listing" class="btn btn-default btn-lg" role="button"><b>Are you a Breeder?  Get Listed</b></a>
<br/>
<br/>
<h1 class="text-center"><b>Find a Husky Breeder</b></h1>
  <br/>
<div class="row">
  <% @husky_breeders.each do |husky_breeder| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= image_tag husky_breeder.image.url %>
        <div class="caption">
          <h3 class="text-center"><%= husky_breeder.name %></h3>
          <%= link_to 'View Breeder', husky_breeder, class: "btn btn-block btn-primary" %>

        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Husky Breeder', new_husky_breeder_path %>
<% end %>
