<title>Locate a Husky Breeder | Husky Puppies for Sale</title>
<div class="container">
      <p class="pull-right"><a href="http://www.thepomeranianhusky.com/breeder_listing" class="btn btn-default btn-lg" role="button"><b>Are you a Breeder?  Get Listed</b></a>
      <hr>
      <hr>
  <div id="pins" class="transitions-enabled">
    <% @husky_breeders.each do |husky_breeder| %>
    <div class="col-lg-3">
      <div class="thumbnail clearfix">
        <td><%= image_tag husky_breeder.image.url(:medium) %></td>
        <td class="text-center"><%= husky_breeder.name %></td>
        <br/>
        <br/>
        <td><%= link_to 'View Breeder', husky_breeder, class: "btn btn-default btn-block" %></td>
      </div>
    </div>
    <% end %>
  </div>
</div>
<br/>
<div class="container">
</div>
</div>
<br/>

<br/>
<br/>
</div>