<title>Search Pomsky Breeders | Find a Pomsky Puppy Breeder</title>
      <p class="pull-right"><a href="http://www.thepomeranianhusky.com/breeder_listing" class="btn btn-default btn-lg" role="button"><b>Are you a Breeder?  Get Listed</b></a>
<br/>
<br/>
<h1 class="text-center"><b>Find a Pomsky Breeder</b></h1>
  <br/>
<div class="row">
  <% @pomsky_breeders.each do |pomsky_breeder| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= image_tag pomsky_breeder.image.url %>
        <div class="caption">
          <h3 class="text-center"><%= pomsky_breeder.name %></h3>
          <%= link_to 'View Breeder', pomsky_breeder, class: "btn btn-block btn-primary" %>

        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="jumbotron pomsky">
<h1 class="text-center alert alert-info">How to Choose a Pomsky Breeder</h1>

<p>We understand that finding and choosing a breeder can be a very personal experience which we liken to that of choosing an adoption agency. Your essentially choosing a loved one that will live with you and ultimately become a member of your family. Because we know how important of a process this can be, we wanted to provide you with a few things to keep in mind, as well as several things that you need to watch out for when selecting a breeder. If you have questions or concerns please feel free to contact us.</p> 
<h2 class="text-center">Beware of Pomsky Breeder Scams</h2>

<p>Because this designer dog breed is very new, it leaves potential buyers open to being conned by a host of unethical breeders. A few ways this might happen are the following:<p>
<ul>  
<li class="text-center">Choosing a breeder that is not vetted and immediately paying a deposit online without proper research.</li>  
<li class="text-center">Selecting a breeder that is not actually pairing the proper dog breeds and is instead passing other dogs off as a Pomsky.</li>
<li class="text-center">Ordering your pup through an online Puppy mill that doesn’t take care of its dogs.</li>
</ul> 
<p>
The above bullet points are just few things that we have seen affect those hoping to purchase an authentic Pomeranian Husky. The best thing that you can do to protect yourself is to do your homework by reading reviews, asking the breeder if they have any testimonials of happy owners or even by asking to call several of the owners. We wish you luck in finding the perfect breeder for your Pomsky</p>
</div>



<br>

<%= link_to "New Listing", new_pomsky_breeder_path, class: "btn btn-link" %>
