<title>About Us | The Pomeranian Husky</title>
<div class="container">	
	<div class="jumbotron">
		<h1 class="alert alert-success">About This Site</h1>
		<p>We would first like to welcome you to our site and thank you for stopping by. We started www.thepomerananianhusky.com for dog lovers much like your self. This adorable dog breed has been the talk of the town but unfortunately because it's so new there are not a lot of resources around the web that support this cute breed, thats where this site comes in. We felt that it was about time to create a resource for all things Pomsky. Hopefully you will find it useful and please, if there is anything that you feel should be improved please do not hesitate to send us a message, we would love to hear from you.</p>
	</div>
</div>
