<title>Find a Helpful Dog Article</title>
<div class="jumbotron text-center">
	<h1 class="alert alert-success">Choose an Article</h1>
<div class="row">
  <div class="col-md-4"><h3><b>Health & Diet</b></h3></div>
  <div class="col-md-4"><h3><b>General</b></h3></div>
</div>
<div class="row">
  <div class="col-md-4"><%= link_to "Can I give my Dog Grapes", grapes_path %></div>
  <div class="col-md-4">Apple Cider Vinegar for Dogs</div>

</div>
<div class="row">
  <div class="col-md-4"><%= link_to "How to check your Dog for Worms", worms_path %></div>
  <div class="col-md-4"><%= link_to "Teacup Pomeranian", teacup_path %></div>
</div>