<title>Find a Helpful Dog Article</title>
<div class="jumbotron text-center">
	<h1 class="alert alert-success">Choose an Article</h1>
<div class="row">
  <div class="col-md-4"><h3><b>Health & Diet</b></h3></div>
  <div class="col-md-4"><h3><b>General</b></h3></div>
  <div class="col-md-4"><h3><b>More Small Dog Breeds</b></h3></div>
</div>
<div class="row">
  <div class="col-md-4">Can my dog eat butter?</div>
  <div class="col-md-4">Apple Cider Vinegar for Dogs</div>
  <div class="col-md-4">Teacup Pomeranian</div>
</div>
<div class="row">
  <div class="col-md-4">Can I give my dog Pepto Bismol?</div>
  <div class="col-md-4">Apple Cider Vinegar for Dogs</div>
  <div class="col-md-4">Teacup Pomeranian</div>
</div>