<title>List Your Pomsky Breeding Service</title>
<div class="container">	
	<div class="jumbotron">
		<h1 class="alert alert-success">Do you have a Breeding Business?</h1> <h2>Get Listed on <b>ThePomeranianHusky.com</b></h2>
		<p>Our goal is to make this the best resource for all things Pomsky, Pomeranian, Husky, and Teacup Pomeranian. If you're a breeder that specializes in any of the above breeds we would love to have you listed on our website.
		<h3>If you don't see your listing on our website already and would like to get listed please send the following information to the <b>pomeranianhusky@hushmail.com</b></h3>
	   <ul>	
		<li>Any images that you feel are relevant to your business</li>
		<li>Contact Information</li>
		<li>Description of your breeder service.</li>
	   </ul>
	   <p>We look forward to hearing from you!</p>
	</div>
</div>