<div class="container">
	<div class="jumbotron">
		<h1 class="alert alert-info text-center">Can I Give My Dog Grapes</h1>
			<div class="col-md-5 pull-right">
	          <div class="thumbnail">
	           <%= image_tag "grapes.jpg" %>
	          </div>
	        </div>
	        <div class="col-md-3 pull-left">
	          <h2 class="well well-sm">Short Answer<br><b>NO</b></h2>
	        </div>
	    <p>Every species has its own unique digestive enzymes and its own metabolic processes that help to integrate biomatter into its anatomy. Being unique, each species can digest its own set of vegetables, fruits, berries, grains, etc. It can be dangerous if they try to digest anything outside of their bodies’ capabilities.</p>
	    <p>In this specific case, grapes can be a bit tricky. There are recorded cases of some dogs being capable of digesting grapes. Those are rare though, and they should not be taken as the rule. Rather, they should be considered as the exception to the rule.</p>
	    <p>Normally, dogs are incapable of safely metabolising grapes, and it should be assumed that all dogs share this trait. The potential dangers of eating grapes is too great, and it is far from worth the enjoyment that such a simple treat would bring. So to answer the question, no, your dog cannot eat grapes. At least, your dog cannot eat grapes without risking their health and potentially their lives.</p>
	    <h2>What are the symptoms of toxicity?</h2>
	    <p>As the dog’s body attempts to process the grape, the grape will begin to affect the dog’s organs as it makes contact with them. Initially, within the first couple of hours, the stomach will likely attempt to expel the grape through vomiting it out of the body. The next visible symptom will likely be diarrhea. This will quickly begin to dehydrate the body of its water which will be counteracted by the dog drinking lots of water; This sudden increase in fluids will cause the dog to pee excessively.</p>
	    <p>In the worst case scenario, the dog might suffer from acute kidney failure. This is a life-threatening and a vet should immediately be contacted if kidney failure is even suspected. The primary and most obvious symptoms have already been listed, but there are a few additional symptoms. In the event of a kidney failure, the urea that is normally passed through pee will begin to pile up in the kidneys. This will begin to affect the smell of the dogs breath - which will smell like urine. The gums of the mouth will also be affected and begin to produce ulcers. The final symptom will be a dangerous increase in blood pressure which might force the dog into a coma.<p>
	    <h2>What are the treatment options?</h2>
	    <p>If you are sure that your dog has eaten grapes then you should contact your vet or the pet poison control center as soon as possible. You should also begin to induce vomiting immediately. The process is simple, but you should be careful and follow these instructions carefully.</p>
	    <i>Side Note - Vomiting is a good option in the case of the eating a grape, but it isn’t a good option in all situations of ingesting a poisonous substances. Sometimes vomiting can cause a worse situation (For example: if the dog ingested gasoline, if the dog ingested a caustic substance, etc.).</i>
	    <p>Optimally, you will want a few things before you begin.</p>
	    <ul>
	    	<li>Information: Dog’s weight ( For appropriate dose calculation )</li>
	    	<li>Any Known Health Issues</li>
	    	<li>What the dog ingested, how much, and when</li>
	    </ul>
	    <p>Hydrogen Peroxide (You will need approximately 1 teaspoon for every five pounds of your dog’s weight).</p>
	    <ul>
	    	<li>(For a quick calculation, please use the guide below)</li>
	    	<li>5 Teaspoons ( 1.66 Tablespoons ) for 25 pounds</li>
	    	<li>10 Teaspoons ( 3.33 Tablespoons ) for 50 pounds</li>
	    	<li>15 Teaspoons ( 5 Tablespoons ) for 75  pounds</li>
	    	<li>20 Teaspoons ( 6.66 Tablespoons ) for 100 pounds</li>
	    	<li>25 Teaspoons ( 8.33 Tablespoons ) for 125 pounds</li>
	    	<li>30 Teaspoons ( 10 Tablespoons ) for 150 pounds</li>
	    </ul>
	    <p>Turkey baster or equivalent to squirt the Hydrogen Peroxide into the back of the mouth.</p>
	    <p>It is recommended that you contact either your veterinarian or the pet poison control center <b>( (888) 426-4435)</b> to get advice on whether or not to inducing emesis (vomiting). There is a potential $65 consultation fee for the Pet Poison Control Center, so calling your local vet might be cheaper.</p>
	    <p>If you get the go ahead, the actual process is very simple. Draw up the suggested dose within the turkey baster, needleless syringe, or the equivalent and spray the the hydrogen peroxide into the back of the dog’s mouth. Wait about 15 minutes, and if your dog has not vomited you can give it another dose. Whether or not your dog vomits, do not give your dog a third dose.</p>
	</div>
</div>