<title>Can I give my Dog Nutella? Read This</title>
<div class="container">
	<div class="jumbotron">
		<h1 class="alert alert-info text-center">Can I Give My Dog Nutella</h1>
			<div class="col-md-5 pull-right">
	          <div class="thumbnail">
	           <%= image_tag "nutella.jpg" %>
	          </div>
	        </div>
	        <div class="col-md-3 pull-left">
	          <h2 class="well well-sm">Short Answer<br><b>NO</b></h2>
	        </div>
	        <p>Dog owners should be aware that any amount of chocolate can be toxic to dogs. Nutella is a popular spread made from hazelnut and chocolate. While chocolate, or cocoa, is not the main ingredient in Nutella, it can still be dangerous to dogs if consumed in large amounts. For this reason, it is not recommended that you feed your dog Nutella. The effect chocolate has on a dogs varies depending on the size and age of the dog. Younger and smaller dogs can be easily poisoned, while larger dogs may have more of a tolerance to the effects. Older dogs, and especially dogs with health problems, can get sick easily like younger and smaller dogs.</p>
	        <p>The main compound in chocolate that is toxic to dogs is Theobromine, though the caffeine in chocolate can affect dogs as well. Theobromine is present in Nutella. Theobromine stimulates the central nervous system as well as the cardiovascular system, causing an increase in blood pressure. Theobromine also has the same effect on humans, but we can easily metabolize the compound, whereas dogs cannot. Dogs metabolize theobromine very slowly - it can remain in your dog’s system for up to twenty-hours. While it is in the dog’s bloodstream, it interferes with the nervous system and affects the kidneys and heart. Different types of chocolates contain different levels of the compound. The amount of Theobromine it takes to make a dog sick varies greatly, which is why owners should take great care to keep chocolate out of their dogs’ reach.<p>
	        <h2>Common Types of Chocolate and Their Levels Of Bromine:</h2>
	        <ul>
	        	<li>- Milk chocolate -50 milligrams per ounce</li>
	        	<li>- Dark chocolate - 150 milligrams per ounce</li>
	        	<li>- Unsweetened chocolate - 450 milligrams per ounce</li>
	        	<li>- Cocoa powder - 800 milligrams per ounce</li>
	        </ul>
	        <p>The lethal dose of theobromine is said to be between 45 to 90 milligrams per pound of body weight. The lethal dose for caffeine in dogs is the same. Sever symptoms of theobromine poisoning, however can appear at much lower doses. The American Society for the Prevention of Cruelty to Animals’ Animal Poison Control Center says mild poisoning can occur with as few as 20 mg of theobromine. Severe symptoms, such as seizures, have been observed at doses between 40 and 50 milligrams of theobromine. Below are the doses of common chocolate types considered toxic for dogs based on body weight. Keep in mind, there are other factors that may affect how chocolate acts on a dog’s system.</p>
	        <ul>
	        	<li>- Milk chocolate - 1 oz. per lb. of body weight</li>
	        	<li>- Dark chocolate - 1/3 oz. per lb. of body weight</li>
	        	<li>- Unsweetened chocolate - 1/9 oz. per lb. of body weight</li>
	        	<li>- Cocoa powder - 1/16 oz. per lb. of body weight</li>
	        </ul>
	        <i>Note: White chocolate contains very little theobromine and caffeine. A dog would need to consume very large quantities of it before he would be at risk for poisoning. Still, it is not the healthiest option for dogs.</i>
	        <p>As you can see, in some cases it doesn’t take much chocolate at all to make a dog sick. This is why it’s crucial to avoid giving your dog any chocolate whatsoever. If you suspect your dog has ingested chocolate, check for signs of poisoning. Since you can’t watch your dog twenty-four hours a day, it is important to know which signs to look for so you can get him treated immediately. Below, you’ll find a list of common symptoms of chocolate poisoning.</p>
	        <h2>Common Signs of Chocolate Poisoning in Dogs:</h2>
	        <ul>
	        	<li>- Diarrhea</li>
	        	<li>- Vomiting</li>
	        	<li>- Weakness</li>
	        	<li>- Rapid heart rate</li>
	        	<li>- High body temperature</li>
	        	<li>- Decreased blood pressure</li>
	        	<li>- Seizures</li>
	        	<li>- Muscle stiffness</li>
	        	<li>- Heightened reflex responses</li>
	        	<li>- Urinating more frequently than usual</li>
	        	<li>- Restlessness</li>
	        </ul>
	        <h2><b>What to Do If You Notice Symptoms of Chocolate Poisoning</b></h2>
	        <p>If your Dog displays any of the above symptoms, you need to get him to the vet immediately. You don’t want to wait and take the chance of your dog suffering a seizure or worse. Chocolate poisoning can lead to coma and even death in severe cases. If you are unable to get the dog to the vet right away, you will need to induce vomiting. To do this, give your dog hydrogen peroxide. Hydrogen peroxide is safe for dogs in small doses and in emergency situations. Give smaller dogs one small capful of hydrogen peroxide. You can give larger dogs up to two tablespoons. Once you’ve gotten your dog to drink the mixture, they should vomit within about five minutes. Check the mess to make sure the chocolate has been expelled.</p>
	        <p>The above works to treat dogs not only for chocolate, but for other toxic substances as well. If you don’t have hydrogen peroxide, activated charcoal will also work. When fed to the dog, activated charcoal will bind to toxins, removing it from the dogs system. It is important to keep your pet well hydrated. A veterinarian should be contacted as soon as possible to arrange a check-up.</p>
	        <h2>Safe Snacks for Your Dog</h2>
	        <p>There are many healthier options than Nutella that you can give to your dog. Below are some delicious, chocolate-free snack ideas for your pooch.</p>

</div>