<title>Teacup Pomeranian | Learn About the Toy Pomeranian</title>
<div class="container">
	<div class="jumbotron">
		<h1 class="alert alert-info text-center">Teacup Pomeranian</h1>
		<div class="col-md-5 pull-right">
          <div class="thumbnail">
           <%= image_tag "teacuppom.jpg" %>
          </div>
        </div>
      <h2>What you Should know</h2>
		<p>Technically, there is nothing like a Teacup Pomeranian. Little Pomeranians bred with some other tiny Pomeranians produce these special dogs. It’s worth mentioning that Teacup Pomeranians also known as Toy Pomeranians are not a separate breed. Although it’s neither approved nor recognized by the AKC,  a lot of people are still curious about these little pups. These fluffy, tiny bundles look really cute. If you’re planning to buy or adopt one, you need to know some important things.</p>
		<p>These dogs are considered toy dogs. Since it’s not a 'defined’ or 'recognized’ breed, there’s some confusion about the weight, size, diet, temperament and health of these dogs.  All other characteristics remain are very similar to Pomeranians. The only major difference is the smaller size. The foremost concern about these small dogs is their basic health. Since these dogs are bred in a way that makes them smaller than they should be, health concerns should not come as a surprise.</p>
		<p>Toy Pomeranians are members of the Spitz family. Originally, these dogs were bred to look similar to the current form in Pomerania, Germany. They are very playful and active and typically make fantastic companions due to their small size and never ending energy.</p>
		<div class="col-md-5 pull-left">
          <div class="thumbnail">
           <%= image_tag "teacuppomeranian.jpg" %>
          </div>
        </div>
		<p>These dogs were brought from the Arctic to Germany. In the mid-18th century, they were brought to the entire European continent. The next destination for these dogs was the United Kingdom. In England, they were instantly popular because of their small size and 'cuteness’.</p>
		<h2>Description</h2>
		<p>The average size is approximately 7-12 inches in height and typically weighs around 5-9 pounds. While a fully grown Teacup Pomeranian does not weigh more than 5 pounds. It’s also shorter than 11 inches. You can easily carry a teacup in a pocket or purse. Some of the common characteristics are:</p>
		<ul>
			<li>A wedge shaped head with pointed ears.</li>
			<li>Snout is sharp, but short. The tail however is plumed, flat and set high.</li>
			<li>Two different coats; a thick, soft undercoat is covered by a rough outer coat. The undercoat sheds twice per year.</li>
			<li>They are available in a wide range of colors, such as white, black, sable, brown, cream, blue, red, brindle, spotted, orange or a combination of different colors. </li>
		</ul>
		<h2>Temperament</h2>
		<p>They are available in a wide range of colors, such as white, black, sable, brown, cream, blue, red, brindle, spotted, orange or a combination of different colors.</p>
		<ul>
			<li>Energetic</li>
			<li>Alert</li>
			<li>Loving</li>
			<li>Loyal</li>
			<li>Intelligent</li>
			<li>Friendly</li>
			<li>Protective</li>
			<li>Easy to Train</li>
		</ul>
		<p>It is important to understand that these dogs require proper training. Lack of training can cause some behavioral problems in these dogs. If they are not trained properly, and made aware who the master is, they can be:</p>
		<ul>
			<li>Aggressive</li>
			<li>Manipulative</li>
			<li>Territorially Defensive</li>
			<li>Dominant</li>
			<li>Prone to Excessive Barking </li>
		</ul>
		<h2>Grooming Requirements</h2>
		<p>As mentioned earlier, these dogs have a very thick double coat. Thus, they require daily care and attention. With regular grooming you’re able to keep their coats soft, shiny, tangle free and fluffy. If you neglect their cleaning and brushing, they may suffer from many different kinds of skin problems. It can make their coat tangled and matted. This can make grooming even more difficult. In order to avoid such problems, you should consider some important things during the grooming process:</p>
		<ul>
			<li>Brush and comb their coats on a daily basis</li>
			<li>Clip their nails regularly</li>
			<li>Make sure their teeth are properly cleaned daily. Regular brushing can prevent tooth and gum decay</li>
			<li>Clean their ears with a high quality ear cleansing solution on a regular basis. This can help prevent ear mites.</li>
			<li>Trim their coat twice per year. If shedding is a major concern, trimming the coat three times per year may be a good idea.</li>
		</ul>
		<h2>Training</h2>
		<p>Pomeranians need proper training to manage behavior and attitude. With proper training, these dogs are obedient, pleasant and delightful. They can quickly become the perfect companions. Most Pomeranians are quick witted. It’s always better to train these dogs with reward-based teaching techniques. With such techniques, they respond quickly, and even pick up commands without any problems. While training these dogs, it’s important to consider their attention span. Encouragement, rewards and praise can yield faster and better results than punishments.</p>
		<div class="col-md-5 pull-right">
          <div class="thumbnail">
           <%= image_tag "teacup2.jpg" %>
          </div>
        </div>
		<h2>Exercise Requirements</h2>
		<p>Although these dogs are very small in size, they need a lot of exercise. The best way for these dogs to get the required exercise is by running around your house. Teacups also like going for long walks, so it’s a good idea to take your dog out for a daily walk.</p>
		<h2>Health Issues</h2>
		<p>Most Pomeranians live slightly longer than other dog breeds. The primary reason is their small size. The average lifespan is 13-15 years. That being said, these dogs are still susceptible to many different health problems, many of which include but are not limited to the following:</p>
		<ul>
			<li>Skin disorders and infections, especially Black Skin Disease</li>
			<li>Knee problems and Eye infections</li>
			<li>Heart conditions</li>
			<li>Early Loss of Teeth</li>
			<li>Cryptorchidism</li>
			<li>Tracheal Collapse</li>
			<li>Hypoglycemia</li>
			<li>Seizures</li>
			<li>Luxating Patella</li>
		</ul>
		<h2>Other Things to Keep in Mind</h2>
		<p>Due to the small size, these dogs are the perfect pets for small apartments and houses. In case you have small children or other pets, they need to be taught how to handle Toy Pomeranians. Since these dogs can get easily injured, you need to be careful around them.</p>
		<p>You need to take them for walks, play with them, and keep them occupied. With proper attention, nutrition and hygiene, you will be able to prevent health care problems. Moreover, you will be able to keep your best friend healthy and happy for a very long time.</p>
	</div>
</div>