<title>How to check your Dog for Worms | Tapeworms, Hookworms, Whipworms</title>
<div class="container">
	<div class="jumbotron">
		<h1 class="alert alert-info text-center">How to check Your Dog for Worms</h1>
		<div class="col-md-5 pull-right">
          <div class="thumbnail">
           <%= image_tag "worm.jpg" %>
          </div>
        </div>
        <p>Dog’s have well-developed immune systems which can defend against a massive variety of illnesses, diseases, and even worms. The common worm issue arises from the typical nutrition-deficient diet of the household dog. Their natural diet consists primarily of meat and bones. Most dog food companies have substituted the healthy meat and bone diet with corn, rice, chicken meal, and other unhealthy filler ingredients. It is the canine version of the junk food diet, and it will circumvent the immune system of your puppy just like it does for any human living off of burgers from a fast food joint.</p>
        <h2>What are the signs that my dog has worms?</h2>
        <p>There are many types of worms, and each of them have different symptoms that can indicate their presence. Out of all of those worms, there are five types of worms that stand out as the most common.</p>
        <h2>Tapeworms</h2>
        <p>These nasty little buggers live in the inner lining of the intestinal wall. They use their hooks and suckers to attach themselves and then begin to drain nutrition from any food that they ingest. They pass their young through the feces of the affected dog.</p>
        <h2>Roundworms and Hookworms</h2>
        <p>These are the most common type of worm infestations in canines. Like many other types of worms, they seek harbor in the stomach and along the intestinal walls.</p>
        <h2>Heartworms</h2>
        <p>The heartworm is possibly the most disturbing member of the worm family. Like the name suggests, the heartworms travels through blood vessels causing blockages and potentially death. There eggs are extremely small and can be transmitted through mosquito bites. Unfortunately, in the early stages, this disease is very difficult to detect. The signs are few until damage has already taken place. For this reason, it is important to have your dog tested for heartworms once or twice a year.</p>
        <h2>Whipworms</h2>
        <p>Whipworms secure themselves upon the walls of the small and large intestines. They are a more difficult than most worms to detect, but there are still signs ( which will be discussed in a bit ). They do not reproduce as rampantly as other worms. While they don’t reproduce as quickly, they’re eggs can remain dormant for up to five years until it infects a host. This makes it exceptionally easy for dogs to become infected (or re-infected) at areas frequently visited by dogs (such as dog parks).</p>
        <h2><b>Now that we know a bit about the types of worms. Here are some of the indicators of these 5 types:</b></h2>
        <h2>Coughing</h2>
        <p>Some types of the worms can cause intense coughing. This is one of the signs of a high-level infestation of heartworms that have saturated the heart and its blood vessels. Heartworms aren’t the only type of worms that can cause a cough. Hookworms and roundworms can also cause this symptom.</p>
        <h2>Vomiting</h2>
        <p>Some worms habitate the stomach of its host. This causes an uneasy stomach which will ultimately cause the affected dog to vomit. On the plus side, this is a good opportunity to check and confirm the presence of the worms which will probably be found within the bile.</p>
        <h2>Diarrhea</h2>
        <p>The intestines are the most common location to harbor worms. This is a prime location for the infestation to steal nutrients and lay eggs within the feces of the dog. This helps to spread the infection to other dogs and to a lesser extent, humans.</p>
        <h2>Low Energy</h2>
        <p>There are a combination of worm behaviors that can drain a dog of its energy. Some worms, as stated earlier, dwell within the heart, blood vessels, and lungs. This interferes with the blood from pumping to deliver oxygen and vital nutrients to the body of the dog. Also, all worms are living creatures which means that they need nutrients to live. The only way to get those nutrients is to steal them from the host. </p>
        <h2>Pot Belly</h2>
        <p>Some worms are transferred from the mother to the puppies during their development within the womb. The worms then multiply and cause the pot-bellied appearance that is somewhat commonly seen in puppies. This indication of infection is not limited to puppies though, so keep an eye on your dog, no matter the age.</p>
        <h2>Weight Loss</h2>
        <p>Worms can circumvent the normal healthy appetite of a dog and siphon the nutrition out of any ingested foods. This can lead to notable decrease of weight.</p>
        <h2>Dull Coat</h2>
        <p>Sometimes worms can affect a canine’s coat. It can transform a healthy, full, and naturally oiled coat to become spotty and to loose its luster. If this happens, you will probably also see rashes where worms have chosen to inhabit.</p>
        <h2>Itchy</h2>
        <p>There are several worms that live on the surface and below the surface of the skin. They cause the previously mentioned, irritating rashes that cause no end of discomfort to the poor affected pup. It might be time to take a closer look if you see your dog constantly scratching an area. Don’t forget your gloves though. It wouldn’t be a good idea to make physical contact with a parasite.</p>
        <h2>Scooting</h2>
        <p>These annoying parasites can also be found around and inside the rectum of dogs. It is painful situation for the dog, and it the dog will usually try to remove the irritation by scooting its backside across the floor. This isn’t always a sign of worms though. This can also be a sign of a common glandular problem. Either way, it is best to examine and determine the source of its suffering.</p>
        <h2>Worm Infested Poop</h2>
        <p>Many worms lay their eggs within the small and large intestines, and those eggs are swept away into fecal matter. On the upside, this makes for easy identification of the problem. On the downside, it also makes the worms easy to transfer to another dog or human.</p>
        <p>Illnesses, diseases, and infections are sometimes difficult to identify because many of them will share similar symptoms. There are a hundred different causes for a cough or for diarrhea in humans. This same fact holds true for dogs as well. That is why a trained veterinarian is usually the best solution for determining the cause and crafting a cure. Find a local vet and you will be taking a great first step to ensuring the health of your dog.</p>
    </div>
</div>