<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-2">
        <div><%= link_to "Husky Breeders", husky_breeders_path %></div>
      </div>
      <div class="col-md-2">
        <div><%= link_to "Pomeranian Breeders", pomeranian_breeders_path %></div>
      </div>
      <div class="col-md-8">
        <p class="muted pull-right">© 2014 The Pomeranian Husky. All rights reserved</p>
      </div>
    </div>
  </div>
</div>